/* ==========================================================================
    App Show (App Switcher Overlay)
    ========================================================================== */

#app-show {
     opacity: 0;
    overflow: hidden;
    bottom: -100%;
    left: 10px;
    width: 600px;
    height: 90%;
    z-index: 20;
    border: 1px solid #eee;
    border-radius: 20px;
}

#app-show .overlay {
     position: absolute;
     background: #eeeeeef7;
     backdrop-filter: blur(5px);
     border-radius: 20px;
     top: -20px;
     right: -20px;
     bottom: -20px;
     left: -20px;
     z-index: -1;
}

#app-show .app-list {
     position: absolute;
     top: 20px;
     left: 50%;
     width: 90%;
     transform: translate(-50%, 0);
}

#app-show .app-list .items {
     display: flex;
     height: 120px;
     width: 120px;
     padding: 1rem;
     margin: -13px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: #bfd1ff;
     border-radius: 20px;
     transition: all 1s;
     transform: scale(0.7);
}

#app-show .app-list .items span {
     white-space: nowrap;
     text-overflow: ellipsis;
     display: block;
     width: 100%;
     text-align: center;
     overflow: clip;
}

#app-show .app-list .items:hover {
     cursor: pointer;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     background: #9bbcff;
}

#app-show .app-list .items.icon-before::before {
     font-size: 48px;
     color: #0e4faa;
     margin: 0;
}

#app-show .footer {
     background-color: #e6e6e6;
}

#app-show .footer .username.icon-before::before {
     content: '\e7fd';
}

#app-show .footer .logout.icon-before::before {
     content: '\e879';
}

.app-title[name="land-details"]::before {
     content: '\e88e';
}

.app-title[name="weather"]::before {
     content: '\f172';
}

.app-title[name="inventory"]::before {
     content: '\e1a1';
}

.app-title[name="stock"]::before {
     content: '\e1db';
}

.app-title[name="health-care"]::before {
     content: '\eaa2';
}

.app-title[name="nation-products-center"]::before {
     content: '\f39a';
}

.user-info {
     bottom: 80px;
    left: 20px;
    width: 350px;
    background: #f9f9f9;
    padding: 0.2rem;
    border-radius: 10px;
    box-shadow: 0 0 4px #cdcdcd;
}


.user-info .user-save {
     cursor: pointer;
     transition: 0.3s;
     border-radius: 5px;
     padding: 0.3rem 0.6rem;
}

.user-info .user-save:hover {
     background-color: #f0f0f0;

}

.user-info .save::before {
     content: '\e161';
}

.user-info .sync::before {
     content: '\e627';
     color: #6c757d;
}

