/* ==========================================================================
    Tools & Bags
    ========================================================================== */
#toolsLand {
     position: absolute;
     z-index: 9999;
     display: none;
     width: 60px;
     height: 60px;
     pointer-events: none;
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
}

#toolsList .items-tools {
     position: relative;
     width: 48px;
     height: 48px;
     margin: 0px 2px;
     transition: all 0.3s;
}

#toolsList .items-tools.unselected {
     cursor: default;
     transform: scale(1);
}

#toolsList .items-tools:hover,
#toolsList .items-tools.selected {
     cursor: pointer;
     background-color: #ffffff60;
}

#toolsList .items-tools::before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-size: 70%;
     background-position: center;
     background-repeat: no-repeat;
}

#toolsList .items-tools:hover::after,
#toolsList .items-tools.selected::after {
     content: '';
     position: absolute;
     bottom: 2px;
     left: 50%;
     z-index: 2;
     width: 13px;
     height: 4px;
     border-radius: 10px;
     background: #2b77b1;
     transform: translateX(-50%);
}

#toolsList .shovel::before {
     background-image: url(graphic/tool/shovel.png);
}

#toolsList .sickle::before {
     background-image: url(graphic/tool/sickle.png);
     background-size: 110%;
}

#toolsList .fertilizer::before {
     background-image: url(graphic/tool/fertilizer.png);
}

#toolsList .seed::before {
     background-image: url(graphic/tool/seed.png);
}

#toolsList .watercan::before {
     background-image: url(graphic/tool/watercan.png);
}

#toolsList .bucket::before {
     background-image: url(graphic/tool/bucket.png);
}

#toolsList .pesticide::before {
     background-image: url(graphic/tool/pesticide.png);
}

